.container {
    /* margin-top: 200px; */
    padding-top: 50px;
    padding: 30px;
}
@media (max-width: 780px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

.text {
    margin: 8px;
}

.paper {
    padding: 8px;
}

.articles {
    width: calc(100% - 600px);
    padding-top: 20px;
    margin: auto;
}
@media (max-width: 780px) {
    .articles {
        width: 100%;
    }
}

.titleSection {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    padding: 16px;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: #e4e4e4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width: 780px) {
    .title {
        background-color: white;
    }
}

.company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
    font-size: 22px;
    margin-bottom: 18px;
}
@media (max-width: 780px) {
    .company {
        display: none;
    }
}

.mobileCompany {
    display: none;
}
@media (max-width: 780px) {
    .mobileCompany {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 22px;
    }
}

.carousel {
    margin-bottom: 80px;
    max-width: 1300px;
    margin: auto;
    background: white;
    border-radius: 10px;
    border: 1.5px solid black;
}
@media (max-width: 780px) {
    .carousel {
        margin-bottom: 40px;
        border: none;
        border-radius: 0;
    }
}

.image {
    width: 200px;
    height: 100%;
    object-fit: none !important;
}

.scene1, .scene2, .scene3, .scene4 {
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
}
.scene2, .scene3, .scene4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.summary {
    color: #333333;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    margin-top: 8px;
}

.action {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
    gap: 12px;
}

.badgeSection {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.mobileBadgeSection {
    display: none;
}
@media (max-width: 780px) {
    .mobileBadgeSection {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
}

.block {
    display: flex;
    gap: 8px;
    width: 100%;
    border-radius: 3px;
    padding: 4px;
    overflow: hidden;
}

.voteBtn {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transform: skewX(-20deg);
    border: 1px solid #F5337e;
}
.voteBtn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform-origin: left;
}
.voteBtn:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform-origin: right;
}
.voteBtn:hover {
    opacity: 0.8;
}

.activeBtn {
    background-color: #FCC1D8;
}

.selBtn {
    border: 3px solid #F5337e;
}

.companyImg {
    object-fit: contain;
}

.tabImage {
    width: 30px;
    height: 30px;
}

.categories {
    position: fixed;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 480px;
    overflow-y: auto;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    left: 16px;
}
@media (max-width: 780px) {
    .categories {
        display: none;
    }
}

.mobileCategories {
    display: none;
}
@media (max-width: 780px) {
    .mobileCategories {
        display: flex;
        justify-content: center;
        gap: 8px;
        height: 120px;
        overflow: scroll;
    }
}

.iconSetDesktop {
    display: flex;
    gap: 8px;
}
@media (max-width: 780px) {
    .iconSetDesktop {
        display: none;
    }
}

.iconSetMobile {
    gap: 8px;
    display: none;
}
@media (max-width: 780px) {
    .iconSetMobile {
        display: flex;
    }
}

.body {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.articleContainer {
    display: flex;
    gap: 24px;
    width: 100%;
}
@media (max-width: 780px) {
    .articleContainer {
        margin-top: 112px;
        flex-direction: column;
    }
}

.categoryChip {
    min-width: 240px;
    max-width: 240px;
    height: 32px;
    flex-shrink: 0;
    text-wrap: wrap;
}
@media (max-width: 780px) {
    .categoryChip {
        max-width: 150px;
        min-width: 150px;
    }
}

.category1 {
    white-space: inherit;
}

.newImage {
    width: 50px;
    height: 50px;
}

.indicator {
    background-color: black;
}

.mobileIndicator {
    display: none;
}
@media (max-width: 780px) {
    .mobileIndicator {
        display: block;
        background-color: white;
    }
}

.mobileTab {
    display: none;
}
@media (max-width: 780px) {
    .mobileTab {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 100000;
        box-shadow: 2px 4px 4px 0px #6f666675;
    }
}

.bottomSection {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 780px) {
    .bottomSection {
        display: none;
    }
}

.topMobileSection {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e4e4;
    padding: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (max-width: 780px) {
    .topMobileSection {
        display: flex;
        border-radius: 0;
    }
}

.filterSection {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobileFilterSection {
    display: none;
}
@media (max-width: 780px) {
    .mobileFilterSection {
        display: flex;
        justify-content: center;
    }
}

.providerBtn {
    background-color: black !important;
    color: white;
}




.arrowStyles {
    position: absolute;
    z-index: 2;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: white;
}